




/*------------------------------------*\
    $HEADER
\*------------------------------------*/

// Our DIV with the BG
.bg {
	background-image:url(#{$image-dir}/superwakkos.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	@extend %clearfix;
	@include respond-to(medium) {
		padding-top: $gutterwidth;
	}
}
	.bg--small {
		background-color: $secondary;
		padding: ($gutterwidth / 2) 0;
		background-image: none;
		.top {
			margin-bottom: 0;
		}
		.logo {
			max-width: 35px;
		}
		.nav__list {
			margin-bottom: 0;
		}
		@include respond-to(medium) {
			margin-bottom: $gutterwidth * 2;
		}
	}


// Top bar with Nav and Logo
.top {
	color: $white;
	@include max-width;
	@include respond-to(medium) {
		@include flexbox;
		@include justify-content(flex-end);
		margin-bottom: $gutterwidth * 3;
	}
	a, a:visited {
		color: $white;
	}
}

	.logo {
		max-width: 65px;
		margin-right: auto;
		img {
			border-radius: $radius;
		}
	}

// The claim area: h1 and buttons
.claims {
	@include max-width;
	margin-bottom: $gutterwidth * 3;
	@include respond-to(medium) {
		display: table;
	}
}
	.header {
		@include respond-to(medium) {
			display: table-cell;
			width: 85%;
			padding: 0 $gutterwidth 0 0;
		}
	}
		.header__title {
			font-size: fs(huge);
			padding-right: ($gutterwidth * 4);
			color: $white;
			margin-bottom: $gutterwidth;
			small {
				display: block;
				font-size: fs(big);

				color: $white;
				font-family: $basefont;
			}
		}
		.header__text {
			@include max-width;
			color: $white;
		}
	.cta {
		display: table-cell;
		width: 15%;
		text-align: center;
	}
		.btn--cta--curso {
			@extend .btn--primary;
			display: block;
    		margin-bottom: $baselineheight;
    		max-width: 200px;
    		width: 49%;
    		@include respond-to(medium) {
    			width: 100%;
    		}
		}
		.btn--cta--hire {
			@extend .btn--info;
			display: block;
    		margin-bottom: $baselineheight;
    		max-width: 200px;
    		width: 49%;
    		@include respond-to(medium) {
    			width: 100%;
    		}
		}