/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.header-container {
	@extend %clearfix;
	@include max-width;
	@include media-query-bp($bp2) {
		display: table;
		font-weight:normal;
		@include font-size(14);
		border-bottom: $border--bottom;
		padding: ($gutterwidth) ($baseline / 2);
		font-family: $basefont;
		width: 100%;
		background-color: $white;
		@include box-shadow(-1px 0 2px rgba(0,0,0,0.5));
		margin-bottom: $baseline / 2;
	}
}

.mainheader {
	position: absolute;
	right:5px;
	top:10px;
	width: 50px;
	@include media-query-bp($bp2) {
		display: table-cell;
		position:relative;
		right:auto;
		top:auto;
		width: 15%;
		margin-bottom: 0;
		vertical-align: middle;
    }
}

.logo {
	border:1px solid lighten($basecolor, 25);
	display:block;
}