@if $incluir-navegacion == true{





/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* La semántica va como sigue:

    <input type="checkbox" class="checkbox__hack" id="checkbox__hack">
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
    <!-- OMG NO SEMANTIC HTML, well, it help us to avoid JS in the menu slide in mobile -->

    <nav class="nav--top">
        <ul class="nav--top__list">
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
        </ul>
    </nav>

* Y no te olvides de modificar las variables en el archivo de variables ($nav-**)
*/

.nav--top {
    position: absolute;
    top:0;
    right:1vw;
    z-index: 10;
    width:  $nav-width;
    height: $nav-height;
    color: $nav-color;
    overflow: hidden;
    cursor: pointer;
    @include respond-to('medium') {
    overflow: visible;
    position: static;
    width: 100%;
    height:auto;
    }

    &:after {
        content: "☰";
        @include font-size(16);
        width: 1em;
        line-height: 1;
        text-align: left;
        position: absolute;
        top: 50%;
        left: $gutterwidth;
        margin-top:  -($nav-icon-size / 2);
        margin-left: -($nav-icon-size / 2);
        color: $white;
        @include respond-to('medium') {
      content: normal;
            content: none;
        }
    }
    a, a:visited {
      color: $nav-color;
        display: block;
        padding-left:  ($nav-width - $nav-icon-size) / 2;
        line-height: $nav-width;
        background-image: none;
        line-height: 3;
        text-transform: uppercase;
        @include font-size(14);
        border-bottom: 1px solid darken($secondary, 8);
        border-top: 1px solid lighten($secondary, 5);
        background-color: $secondary;
        text-shadow: 1px 1px 1px lighten($secondary, 5);
        @include transition(background $hovertransition ease);

        &:hover {
          text-decoration: none;
          background-color: darken($secondary, 10);
        }
        @include respond-to('medium') {
      padding:0 ($gutterwidth / 2);
      text-align: center;
      line-height: 3;
      @include font-size(14);
      text-shadow: none;
      font-weight: bold;
        }
    }
}

  .nav--top__list {
    list-style: none;
        margin:  0;
        padding: 0;
        padding-top: $nav-height;
        position: absolute;
        top:   0;
        left:  0;
        background-color: $nav-background;
        @include box-shadow(inset -100px -50px 100px 100px rgba(0,0,0,0.2));
    /*
         * Usamos VW porque con % tomaría el tamaño del contenedor,
         * que es $nav-width (unos 48px) y no se ve na' e ná
         */
        width: 99vw;
        z-index: -1;
        height: 100vh;
    @include respond-to('medium') {
      height: auto;
      padding: 0;
      position: static;
      display: table;
      background: none;
      text-align: left;
      z-index: 100;
            border-radius: 0;
            @include max-width;
    }

    // Stupid Wordpress won't let me add a custom class to all <li> elements

    li {
      background-color: $nav-lists-background;
      /*
       * Con estos dos nth-of-type seleccionamos los últimos dos DIV del menú
       * y los bajamos como si fueran un "menú inferior", PERO NO! son el mismo menú!
      */
      &:nth-last-of-type(1) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        text-align: center;
        border-left: 1px solid darken($secondary, 8);
        a {
          padding:0;
          background-color: $basecolor;
        }
        @include respond-to('medium') {
          position: static;
          bottom: auto;
          right: auto;
          width: auto;
          border-left: none;
        }
      }
      &:nth-last-of-type(2) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        text-align: center;
        border-right: 1px solid lighten($secondary, 5);
        a {
          padding:0;
        }
        @include respond-to('medium') {
          position: static;
          bottom: auto;
          right: auto;
          width: auto;
          border-left: none;
        }
      }
            @include respond-to('medium') {
                display: table-cell;
                background-color: transparent;
                margin-right: 0;
                padding:0;
                width: 25%;
            }
    }
  }


  /*
   * Ya que no le doy soporte a IE9 vamos a hacer el toggle con CSS3 y el hack
   * del checkbox : http://codepen.io/Wakkos/pen/xAhdq
   */

  // Ocultamos el checkbox
   .checkbox__hack {
    display: none;

    /*
     * Quitamos el overflow:hidden para que se muestre el menú
     * Eso es todo, un overflow. Con eso mostramos u ocultamos el menú.
     * (Eso y el content del after para que sea una X y no la hamburguesa)
     */

    &:checked {
      ~ .nav--top {
        overflow: visible;
        &::after {
          content:"x";
        }
      }
    }
   }

   // Estilizamos el label para que aparezca JUSTO encima de la navegación
   .checkbox-hack__label {
    position: absolute;
    top:0;
    left:0;
      z-index: 100;
      width:  100%;
      height: $nav-height;
      color: $nav-color;
      overflow: hidden;
      cursor: pointer;
      margin:0;
      z-index: 100;
   }

} //endif