




/*------------------------------------*\
    $SITIO
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background : $background;
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : transparent;
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor;
}

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/


.home-content {
	@include max-width;
	@include respond-to(medium) {
		display: table;
		padding-top: $gutterwidth;
	}
}
	.home-content__section {
		@include respond-to(medium) {
			display: table-cell;
			width: 74%;
			padding-right: $gutterwidth;
		}
	}
		.home-content__article {
			margin-bottom: $baselineheight;
			border-bottom: 1px solid $lightergrey;
		}


	.aside {
		background-color: $lightergrey;
		border-radius: $radius;
		padding: 0 ($gutterwidth / 2);
		@include respond-to(medium) {
			display: table-cell;
			width: 26%;
		}
	}