




/*------------------------------------*\
    $SIDEBAR / ASIDE
\*------------------------------------*/

aside {
	background: darken($background, 5);	
	padding: $baseline ($gutterwidth / 2) ($baseline * 2);
	@include media-query-bp($bp2) {
		display: table-cell;
		width: 32%;
	}
}

	.stimpy {
		background-color:$background;
		border: 0px solid $secondary;
		border-radius: 1em;
		padding: $baseline ($gutterwidth / 2);
		position: relative;
		&::after {
			content:"";
			position: absolute;
			width:73px;
			height:52px;
			background-image:url("#{$image-dir}/stimpy.png");
			right: 0;
			bottom: -53px;
		}

		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			right: 80px;
			bottom: -32px;
			border: 16px solid;
			border-color: $background $background transparent transparent;
		}
	}