




/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*/

.nav--top {
	position: absolute;
	top:0;
	left:1vw;
    z-index: 10;
    width:  $nav-width;
    height: $nav-height;
    color: $nav-color;
    overflow: hidden;
    cursor: pointer;
    @include media-query-bp($bp2) {
		overflow: visible;
		position: static;
		width: 100%;
		height:auto;
		margin-bottom: $baseline / 2;
    }

    &:after {
        content: "☰";
        @include font-size(16);
        width: 1em;
        line-height: 1;
        text-align: left;
        position: absolute;
        top: 50%;
        left: $gutterwidth;
        margin-top:  -($nav-icon-size / 2);
        margin-left: -($nav-icon-size / 2);
        color: $white;
        @include media-query-bp($bp2) {
			content: normal;
            content: none;
        }
    }
    a, a:visited {
    	color: $nav-color;
        display: block;
        padding-left:  ($nav-width - $nav-icon-size) / 2;
        line-height: $nav-width;
        background-image: none;
        line-height: 3;
        text-transform: uppercase;
        @include font-size(14);
        border-bottom: 1px solid darken($secondary, 8);
        border-top: 1px solid lighten($secondary, 5);
        background-color: $secondary;
        text-shadow: 1px 1px 1px lighten($secondary, 5);
        @include transition(background $hovertransition ease);

        &:hover {
        	text-decoration: none;
        	background-color: darken($secondary, 10);
        }
        @include media-query-bp($bp2) {
			padding:0 ($gutterwidth / 2);
			text-align: center;
			line-height: 2;
			@include font-size(12);
			text-shadow: none;
        }
    }
}

	.nav--top__list {
		list-style: none;
        margin:  0;
        padding: 0;
        padding-top: $nav-height;
        position: absolute;
        top:   0;
        left:  0;
        background-color: $nav-background;
        @include box-shadow(inset -100px -50px 100px 100px rgba(0,0,0,0.2));
		/* 
         * Usamos VW porque con % tomaría el tamaño del contenedor, 
         * que es $nav-width (unos 48px) y no se ve na' e ná
         */
        width: 99vw;
        z-index: -1;
        height: 100vh;
		@include media-query-bp($bp2) {
			height: auto;
			padding: 0;
			position: static;
			display: table;
			background: none;
			text-align: left;
			z-index: 100;
            border-radius: 0;
            @include max-width;
		}

		// Stupid Wordpress won't let me add a custom class to all <li> elements

		li {
			background-color: $nav-lists-background;
			/* 
			 * Con estos dos nth-of-type seleccionamos los últimos dos DIV del menú 
			 * y los bajamos como si fueran un "menú inferior", PERO NO! son el mismo menú!
 			*/			
 			&:nth-last-of-type(1) {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 50%;
				text-align: center;
				border-left: 1px solid darken($secondary, 8);
				a {
					padding:0;
					background-color: $basecolor;
				}
				@include media-query-bp($bp2) {
					position: static;
					bottom: auto;
					right: auto;
					width: auto;
					border-left: none;
				}
			}
			&:nth-last-of-type(2) {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 50%;
				text-align: center;
				border-right: 1px solid lighten($secondary, 5);
				a {
					padding:0;
				}
				@include media-query-bp($bp2) {
					position: static;
					bottom: auto;
					right: auto;
					width: auto;
					border-left: none;
				}
			}
            @include media-query-bp($bp2) {
                display: table-cell;
                background-color: transparent;
                margin-right: 0;
                padding:0;
                width: 25%;
            }
		}
	}

			
	/*
	 * Ya que no le doy soporte a IE9 vamos a hacer el toggle con CSS3 y el hack
	 * del checkbox : http://codepen.io/Wakkos/pen/xAhdq
	 */
	
	// Ocultamos el checkbox
	 .checkbox__hack {
	 	display: none;
		
		/*
	 	 * Quitamos el overflow:hidden para que se muestre el menú
	 	 * Eso es todo, un overflow. Con eso mostramos u ocultamos el menú.
	 	 * (Eso y el content del after para que sea una X y no la hamburguesa)
	 	 */

		&:checked {
	 	 	~ .nav--top {
	 	 		overflow: visible;
	 	 		&::after {
	 	 			content:"x";
	 	 		}
	 	 	}
		}
	 }

	 // Estilizamos el label para que aparezca JUSTO encima de la navegación
	 .checkbox-hack__label {
	 	position: absolute;
		top:0;
		left:0;
	    z-index: 100;
	    width:  100%;
	    height: $nav-height;
	    color: $nav-color;
	    overflow: hidden;
	    cursor: pointer;
	    margin:0;
	    z-index: 100;
	 }



/* 
 * Ahora damos estilos al menú que nos permite navegar por las categorías del blog
 */

.nav--blog__list {
	margin:0;
	padding:0;
	width: 100%;
	display: table;
	margin-bottom: $baseline;
	@include max-width;
	@include media-query-bp($bp3) {
		margin-bottom: 0;
	}

	li {
		display: table-cell;
		width: auto;
		padding-right: 2px;
		&:last-child {
			padding-right:0;
		}
		&.current-menu-item {
			a, a:visited {
				background-color: darken($basecolor, 10);
				background-image:none;
			}
		}
	}

	a, a:visited {
		display: block;
		line-height: 3;
		background-color: $basecolor;
		text-align: center;
		@include font-size(16);
		font-weight: bold;
		border-bottom: $border--bottom;
		color:$white;
		text-transform: uppercase;
		background-image:none;
		&:hover {
			background-color: darken($basecolor, 10);
			text-decoration: none;
		}
	}
}
/* 
 * Por vagancia meto aquí mismo la navegación de las entradas.
 * Al ser pocas lineas, who cares?
 */
 .posts-nav {
 	@include max-width(80%);
 	@extend %clearfix;
 	border-top: 1px solid $lightgrey;
 	padding-top: $baseline / 2;
 }
 	.previous {
 		float: left;
 	}

 	.next {
 		float: right;
 	}